/*----FontAwesome-------*/
@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import "bootstrap/dist/css/bootstrap.css";

// Style Scss
@import "main/modal";
@import "main/portfolio-modal";
@import "main/portfolio";
@import "main/404";
@import "main/preview";
@import "main/circle";
@import "main/slick";
@import "main/switcher";
@import "main/style";
@import "main/rtl";

// skin
@import "main/skins/yellow";

// Custom styles
.blog-title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    h1{
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        padding: 0 5%;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        margin-top:10px;
    }
  }
  .blog-section{
    padding: 0 5%;
  }
  
  /* Estilos para teléfonos */
  @media (max-width: 768px) {
    .blog-title-container {
      left: 0%;
      transform: translate(0%, -50%);
      h1{
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        margin-top:10px;
      }
    }
}
